*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  
}

body {
  background-color: #FCFCF8;
}

button{
  border:none;
  background-color: transparent;
  cursor: pointer;
}


/* header */

header button{
  font-size: 1.2rem;
  border: none;
  font-weight: 400;
  transition: border-color 0.5s ease;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;

  margin:0 1rem;
}

button:hover{
  border-bottom: 2px solid black;
}

header {
  margin: 0.7rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar {
  /* gap: 1rem; */
  display: flex;
}

.logo  {
  width: 8%;
}

.logo img {
  width: 100%;
}


/*  seciton -1 */
.section_1{
  background-image: url('./assets/home-1.jpg');
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}



.textSection_1{
  position: absolute;
  background-color: transparent;
  bottom:0%;
  right:50%;
  left:50%;
  width:40%;
  font-weight: 300;
  color:#FCFCF8;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  letter-spacing: 1px;
  
  text-align: center;
  
}

.textSection_1 div {
  margin-bottom: 3rem;
}

.textSection_1 button{
  font-size: 2.5rem;
  height: 5rem;
  color:#FCFCF8;
  cursor:pointer;
  padding:10px 30px;
  background-color: rgba(0, 0, 0, 0.663);
  border-radius: 150px;
}


/* auth panel */

